/* UBICACION Y FORMULARIO */
@import 'listas';
$mb: 20px;

#ubicanos {
    display: flex;
    display: inline-block;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

#contactos{
    display: flex;
    display: inline-block;
    margin-left: 3rem;
}

form{
    width: 450px;
    margin: auto;
    padding: 10px $mb;
    box-sizing: border-box;
    margin-top: $mb;
    margin-bottom: 10px; 
    background: nth($color , 4 );
}

.formulario{
    color:nth($color , 4 );
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: $mb;
}

input, textarea{
    width: 100%;
    margin-bottom: $mb;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}


#enviar{
    background: nth($color , 5 );
    color: nth($color , 8 );
}

@media (max-width:480px) {
    form{
        width: 100%;
    }
}